.grid {
    display: grid;
    width: 100%;
    max-width: 800px;
    grid-template-columns: repeat(5, 1fr); /* o repeat, repete o 5 vezes a medida de 1fr*/
    gap: 10px;
    margin: 100px auto;
}

.card {
    aspect-ratio: 2/3; /*proporção do elemento*/
    width: 100%;
    border-radius: 5px;
    position: relative; /* as faces respeitam as delimitações do card*/
    transition: all 400ms ease;  /*atenção*/
    transform-style: preserve-3d; /*atenção*/
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #363B4A;
    border-radius: 10px;
    transition: all 800ms ease;
}

.front {
    transform: rotateY(180deg); /*atenção*/

}

.back {
    background-image: url('../images-cards/backcard.jpg');
    backface-visibility: hidden; /*atenção*/
}

.reveal-card {
    transform: rotateY(180deg);/* Rotaciona no eixo Y a imagem da carta */
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

/* .card:hover O hover é pra quando o usuário posiciona o mouse por cima do elemento, mesmo que não o interaja com o mesmo */
    

/*contrl + f = aparece o controle de busca no codigo.
usar o ctrl + ; = transforma em comentário o que for selecionado.*/