main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 30px;
    background-image: url(../images-site/genshin-fundo-image.png);
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #363b4a85;
    font-size: 22px;
    width: 100%;
    max-width: 1350px;
    padding: 20px;
    margin: 0 0 20px;
    border-radius: 10px;
}


.grid {
    display: grid;
    width: 100%;
    max-width: 1350px;
    grid-template-columns: repeat(10, 130px); /* o repeat, repete o 5 vezes a medida de 1fr*/
    gap: 6px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 2/3; /*proporção do elemento*/
    width: 100%;
    border-radius: 5px;
    position: relative; /* as faces respeitam as delimitações do card*/
    transition: all 400ms ease;  /*atenção*/
    transform-style: preserve-3d; /*atenção*/
    background-color: rgb(153, 153, 153);
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #363B4A;
    border-radius: 10px;
    transition: all 800ms ease;
}

.front {
    transform: rotateY(180deg); /*atenção*/

}

.back {
    background-image: url('../images-cards/backcard.jpg');
    backface-visibility: hidden; /*atenção*/
}

.reveal-card {
    transform: rotateY(180deg);/* Rotaciona no eixo Y a imagem da carta */
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}


/* .card:hover O hover é pra quando o usuário posiciona o mouse por cima do elemento, mesmo que não o interaja com o mesmo */
    

/*contrl + f = aparece o controle de busca no codigo.
usar o ctrl + ; = transforma em comentário o que for selecionado.*/