.login-form {
    align-items: center; /*Centraliza no eixo X */
    justify-content: center; /*Centraliza no eixo Y, usar com o align items*/
    display: flex; /* Coloca os elementos seguidos um após o outro horizontalmente */
    flex-direction: column; /*Põe os elementos verticalmente após o outro*/
    height: 100vh; /*Os atributos dos elementos ocupam a janela inteira*/
    background: linear-gradient(to bottom,  #6c91ff, #fff); /* O fundo pega uma tonalidade em gradiente e linear para baixo, escuro para o mais claro*/
}

.login__header {
    align-items: center; 
    justify-content: center; 
    display: flex; 
    flex-direction: column;
    margin-bottom: 40px;
}

.login__header h1 {
    color: #193256;
    font-size: 40px;
    
}

.login__input {
    border: 2px solid#193256; /*Inseriu uma borda na caixa do input */
    border-radius: 8px;
    color:#193256;
    font-size: 18px;
    margin-bottom: 15px;
    max-width: 250px; /* coloca um limite de ocupação da tela, para assim ter maior responsividade*/
    width: 100%; /* o elemento ocupa toda a tela horizontalmente*/
    background-color: #f9f3ed;
    outline: none; /*retira o pequeno destaque quando se clica no input*/
    padding: 5px;
}

.login__button {
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    max-width: 250px; 
    width: 100%; 
    background-color:#193256;
    padding: 5px;
    cursor: pointer; /* inclui a animação da mão selecionar */
}

.login__button:disabled { /*muda o estilo do botão quando desabilitado*/
    background-color:  #a3a2a2;
    color: white;
    cursor: auto;
}

.imagelogo {
    width: 100%;
    max-width: 300px;
    padding-top: 0px;
}